{% extends "@App/layout.html.twig" %}

{%  block title %}Modification d'un utilisateur{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Administration</li>
    <li class="breadcrumb-item active"><a href="{{ path("admin_user_index") }}">Gestion des comptes</a></li>
    <li class="breadcrumb-item active">{{ user.username }}</li>
    <li class="breadcrumb-item">Modification</li>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <!-- First row -->
    <div class="row">
        <!-- First column -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-1">
                    <div class="card">
                        <div class="card-block">
                            {{ include("@User/User/form.html.twig") }}
                            {{ form_start(delete_form, {'attr': {'class': 'd-inline float-md-right', 'onSubmit': 'return confirm("' ~ confirm_message ~ '")'}}) }}
                            <button type="submit" class="btn btn-danger align-content-center">Supprimer l'utilisateur</button>
                            {{ form_rest(delete_form) }}
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
           $('#user_edit_form_roles_0').change(function() {
               if ($(this).val() == 'ROLE_SUPER_ADMIN') {
                   $('#user_edit_form_groupesAcces').prop('disabled', true).parent('div').children('input.select-dropdown').prop('disabled', true);
               }
               else {
                   $('#user_edit_form_groupesAcces').prop('disabled', false).parent('div').children('input.select-dropdown').prop('disabled', false);
               }
           }).trigger('change');
        });
    </script>
{% endblock %}