{% extends "@App/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row">

                <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
                    <div class="card">
                        <div class="card-block">

                            <!--Header-->
                            <div class="form-header">
                                <h3>Mon profil</h3>
                                <hr class="mt-2 mb-2">
                            </div>

                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}

                            {{ form_row(form.current_password) }}
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">{{ 'profile.edit.submit'|trans }}</button>
                            </div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
                    <div class="card">
                        <div class="card-block">

                            <!--Header-->
                            <div class="form-header">
                                <h3>Changer de mot de passe</h3>
                                <hr class="mt-2 mb-2">
                            </div>

                            {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}